{% extends 'front_office/base_front.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('styles_invest_main_front') }}
	{{ encore_entry_link_tags('styles_invest_front') }}
	<link rel="stylesheet" href="{{ asset('css/your_custom_styles.css') }}">
{% endblock %}

{% block title %}
	Créer un nouvel investissement
{% endblock %}
{% block body %}

	<section class="section about">

		<div class="container">
			<h2 class="h2 section-title">Créer un nouvel investissement</h1>

			{{ form_start(form, {'attr': {'class': 'investment-form'}}) }}
			<div class="about-content">
				<ul class="section-list">
					<li class="section-item">
						<div class="title-wrapper">
							<h3 class="h3 list-title">{{ form_label(form.montant) }}</h3>
						</div>

						<td>{{ form_widget(form.montant, {'attr': {'class': 'form-input'}}) }}</td>

						<td>{{ form_errors(form.montant) }}</td>
					</li>
					
					<button type="submit" class="btn btn-primary">Acheter</button>
					{{ form_end(form) }}</div>
			</ul>
		</div>
	</section>


{% endblock %}
