{% extends 'base_back.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('styleCategory') }}
    {{ encore_entry_link_tags('styles_back') }}
{% endblock %}

{% block body %}
    <div class="container-cat" >
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h3 class="text-center mb-1 mt-1">Add Category</h3>
                    </div>
                    <div class="card-body">
                        <form method="post" class="add-category-form" novalidate>
                            {{ form_start(myForm,{'attr':{'novalidate':'novalidate'}}) }}
                            <div class="form-group">
                            <table>
  
        <td>{{form_label(myForm.name,"Name")}}</td>
        <td>{{ form_widget(myForm.name, {'attr': {'class': 'form-control category-name-input'}}) }}</td>
        <td>{{form_errors(myForm.name,)}}</td>
    
    </table>
                               
                                
                            </div>
                            <div class="form-group text-center">
                                {{ form_widget(myForm.Save, {'attr': {'class': 'btn btn-primary save-category-btn'}}) }}
                            </div>
                            {{ form_end(myForm) }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
