{% extends 'base_back.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('styles_back') }}
    {{ encore_entry_link_tags('styleProduct') }}
{% endblock %}

{% block body %}
    <div class="container-cat ">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h3 class="text-center mb-1 mt-1">Add Product</h3>
                    </div>
                    <div class="card-body">
                            {{ form_start(myForm, {'attr': {'novalidate': 'novalidate'}}) }}
                            <div class="form-group mt-3">
                                {{ form_label(myForm.name) }}
                                {{ form_widget(myForm.name, {'attr': {'class': 'form-control product-name-input'}}) }}
                                {{form_errors(myForm.name,)}}
                            </div>
                            <div class="form-group mt-3">
                                {{ form_label(myForm.price) }}
                                {{ form_widget(myForm.price, {'attr': {'class': 'form-control product-price-input'}}) }}
                                {{form_errors(myForm.price,)}}
                            </div>
                            <div class="form-group mt-3">
                                {{ form_label(myForm.description) }}
                                {{ form_widget(myForm.description, {'attr': {'class': 'form-control product-description-input'}}) }}
                                {{form_errors(myForm.description,)}}
                            </div>
                            <div class="form-group mb-4 mt-3">
                                {{ form_label(myForm.category) }}
                                {{ form_widget(myForm.category, {'attr': {'class': 'form-control product-category-input'}}) }}
                            </div>
                            <div class="form-group mt-3">
                                {{ form_row(myForm.image) }}
                            </div>
                            <div class="form-group text-center">
                                {{ form_widget(myForm.Save, {'attr': {'class': 'btn btn-primary save-product-btn'}}) }}
                            </div>
                            {{ form_end(myForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
