{% extends 'base_back.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('styles_back') }}
{% endblock %}
{% block body %}
<div class="container">
    <div class="row justify-content-between align-items-center mb-3">
        <div class="col-md-6">
            <h2 class="mb-4 mt-3">Product List</h2>
        </div>
        <div class="col-md-6 text-md-end">
            <a href="{{ path('app_product_add') }}" class="btn btn-success">Add product</a>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Reference</th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Category</th>
                <th>Photo</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.Description }}</td>
                <td>{{ product.Category }}</td>
                <td class="column4"><img src="{{ asset('images/products/'~ product.image) }}" width="150px"/></td>
                <td>
                    <div style="display: flex;">
                        <form action="{{ path('app_edit_product', {'ref': product.id}) }}" method="post" style="margin-right: 5px;">
                            <button type="submit" class="btn btn-primary">Edit</button>
                        </form>
                        <form action="{{ path('app_delete_product', {'ref': product.id}) }}" method="post">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
