
{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('styleaddcomment') }}
    
{% endblock %}
{% block body %}
<div class = "containerrrrr">
<h2>Add Comment</h2>
{{ form_start(formadd, {'attr': {'class': 'my-4'}}) }}
    <div class="form-group">
    
        {{ form_label(formadd.contenue, 'Add Comment', {'label_attr': {'class': 'font-weight-bold'}}) }}
        {{ form_widget(formadd.contenue, {'attr': {'class': 'form-control', 'rows': 8, 'placeholder': 'Enter your comment'}}) }}
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block rounded-pill py-3">Confirm</button>
    </div>
{{ form_end(formadd) }}
</div>
{% endblock %}