{% extends 'back_office/base_back.html.twig' %}



{% block body %}
{% block stylesheets %}
{{ parent() }}
    
        {{ encore_entry_link_tags('styles_back') }}
        {{ encore_entry_link_tags('styles_Affichage') }}
{% endblock %}


	<section class="section market " aria-label="market update" data-section>
		<div class="container">
			<div class="title-wrapper">
				<h2 class="h2 section-title">Blog List</h2>
				<a href="{{ path('app_AddBlog') }}"><i class="fas fa-plus add_btn"></i></a>

			</div>
			<div class="market-tab">
				<table class="market-table">
					<thead class="table-head">
						<tr class="table-row table-title">
							
							<th class="table-heading table-text" scope="col">Id</th>
							<th class="table-heading table-text" scope="col">Titre</th>
							<th class="table-heading table-text" scope="col">Description</th>
							
							<th class="table-heading table-text" scope="col"></th>
							<th class="table-heading table-text"></th>
						</tr>
					</thead>
					<tbody class="table-body">
						{% for a in blog %}
							<tr class="table-row">

								<td class="table-data">
									<div class="wrapper">
										<h3>
											<a href="#" class="coin-name table-text">{{ a.id }}</a>
											<td>{{a.titre}}</td>
										</td</h3>
									</td>
								</td>
								
								<td class="table-data last-update green table-text">{{ a.description }}</td>
								

								
								<td class="table-data">
									<button class="btn btn-outline">
										<a href="{{ path('app_editblog', {'id': a.id}) }}">edit</a>
									</button>
								</td>
								<td class="table-data">
									<button class="btn btn-outline">
										<a href="{{ path('app_delete', {'id': a.id}) }}">delete</a>
									</button>
								</td>

							{% endfor %}
   
   
        </table>
     </div>   
</section></article>   


{% endblock %}
{% block javascripts %}
{{ encore_entry_script_tags('app_back') }}
{% endblock %}