{% extends 'back_office/base_back.html.twig' %}



{% block body %}
{% block stylesheets %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        {{ encore_entry_link_tags('styles_back') }}
        {{ encore_entry_link_tags('styles_Affichage') }}
{% endblock %}

<body>
   

    <div class="b_container">
        
        <main>
         <h1>Blog List</h1>
          <button class="btn btn-primary" type="button" onclick="window.location.href='/AddBlog'">Ajouter un Blog</button>

            <table class="table align-middle mb-0 bg-white">
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                {% for a in blog %}
                    <tr>
                        <td>{{ a.id }}</td>
                        <td>{{ a.titre }}</td>
                        <td>{{ a.description }}</td>
                        <td><a href="{{ path('app_editblog', {'id': a.id}) }}"><i class="fas fa-edit"></i> </a></td>
                        <td><a href="{{ path('app_delete', {'id': a.id}) }}"><i class="fas fa-trash-alt"></i> </a></td>

                    </tr>
                {% endfor %}
            </table>
        </main>
    </div>
</body>
</html>

{% endblock %}
{% block javascripts %}
{{ encore_entry_script_tags('app_back') }}
{% endblock %}
