{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('styles_blog_main') }}
    {{ encore_entry_link_tags('searchbar') }}
{% endblock %}

{% block body %}
  <body>

 
   
    <section class = "blog" id = "blog">
      <div class = "containerrr">
        <div class = "title">
          <h2>Latest Blog</h2>
          {% include 'blog/searchData.html.twig' with{
  form:form
} only %}
        </div>
        <div class = "blog-content">
          <!-- item -->
          {% for b in blog %}
          <div class = "blog-item">
            
              <img src="{{ asset('/uploades/images/blog/' ~ b.image) }}" class="blog-img"/>
              
            
            <div class = "blog-text">
              
              <h2>{{b.titre}}</h2>
              <p>{{b.description}}</p>
              <a href="{{ path('blogdetails', {'id': b.id}) }}" class="btn">View Details</a>
               
            </div>
          </div>
          <!-- end of item -->
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- end of blog -->

  

   
    
  </body>
</html>

{% endblock %}
