{% extends 'base_front.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('shopPage1') }}
    {{ encore_entry_link_tags('shopPage2') }}
    {{ encore_entry_link_tags('shopPage3') }}
{% endblock %}
    
{% block js %}
    {{ parent() }}
    {{ encore_entry_script_tags('app_shop1') }}
    {{ encore_entry_script_tags('app_shop2') }}
    {{ encore_entry_script_tags('app_shop3') }}
{% endblock %}

{% block body %}
<!-- SECTION -->
    <div class="section">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row">
          <div class="col-md-4">
            <!-- Order notes -->
          </div>

          <!-- Order Details -->
          <div class="col-md-5 order-details ">
            <div class="section-title text-center">
              <h3 class="title">Your Order</h3>
            </div>
            
            <div class="order-summary">
              <div class="order-col">
    <div class="product-column"><strong>PRODUCT</strong></div>
    <div class="total-column"><strong>TOTAL</strong></div>
    <div class="action-column"><strong>Action</strong></div>
</div>
<div class="order-products">
    {% set total = 0 %}
    {% for panier in paniers %}
        <div class="order-col">
            <div class="product-column">{{ panier.quantity }}x {{ panier.product }}</div>
            <div class="total-column">{{ panier.quantity * panier.product.price }}TND</div>
            <!-- Add edit and delete logos here -->
            <div class="action-column">
                <a href="#" class="edit-product">Edit</a>
                <a href="#" class="delete-product">Delete</a>
            </div>
        </div>
        {% set total = total + (panier.quantity * panier.product.price) %}
    {% endfor %}
</div>

              <div class="order-col">
                <div>Shiping</div>
                <div><strong>FREE</strong></div>
              </div>
              <div class="order-col">
                <div><strong>TOTAL</strong></div>

                <div><strong class="order-total"> {{ total }}TND  </strong></div>
              </div>
            </div>
            <div class="payment-method">
              <div class="input-radio">
                <input type="radio" name="payment" id="payment-1" />
                <label for="payment-1">
                  <span></span>
                  Direct Bank Transfer
                </label>
                <div class="caption">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </p>
                </div>
              </div>
              <div class="input-radio">
                <input type="radio" name="payment" id="payment-2" />
                <label for="payment-2">
                  <span></span>
                  Cheque Payment
                </label>
                <div class="caption">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </p>
                </div>
              </div>
              <div class="input-radio">
                <input type="radio" name="payment" id="payment-3" />
                <label for="payment-3">
                  <span></span>
                  Paypal System
                </label>
                <div class="caption">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </p>
                </div>
              </div>
            </div>
            <div class="input-checkbox">
              <input type="checkbox" id="terms" />
              <label for="terms">
                <span></span>
                I've read and accept the <a href="#">terms & conditions</a>
              </label>
            </div>
            <a href="#" class="primary-btn order-submit">Place order</a>
            
          </div>
          <!-- /Order Details -->
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /SECTION -->
{% endblock %}
