{% extends 'front_office/base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('styleformpret') }}
{% endblock %}

{% block body %}
<div class="container-form">
    <div class="form-container">
        <div class="form-photo">
            <img class="pret_logo" src="{{asset('images/pret_logo.png')}}" alt="">
        </div>
        <h2>Loan Application Form</h2>
        <div class="form-split">
            <div class="form-left">
                {{ form_start(loan, {'attr': {'novalidate': 'novalidate'}}) }}
                <div class="form-group">
                    {{ form_row(loan.Gender) }}
                </div>
                <div class="form-group">
                    {{ form_row(loan.Married) }}
                </div>
                <div class="form-group">
                    {{ form_row(loan.Dependents) }}
                </div>
                <div class="form-group">
                    {{ form_row(loan.Education) }}
                </div>
                <div class="form-group">
                    {{ form_row(loan.Selfemployed) }}
                </div>
                <div class="form-group">
                    {{ form_row(loan.ApplicantIncome) }}
                </div>
            </div>
            <div class="form-right">
                <div class="form-group">
                    {{ form_row(loan.CoapplicantIncome) }}
                </div>
                <div class="form-group">
                    {{ form_row(loan.LoanAmount) }}
                </div>
                <div class="form-group">
                    {{ form_row(loan.Loan_Amount_Term) }}
                </div>
                <div class="form-group">
                    {{ form_row(loan.Credit_History) }}
                </div>
                <div class="form-group">
                    {{ form_row(loan.Property_Area) }}
                </div > 
                <div class="form-group" style="display: none;" style>
                    {{ form_row(loan.Loan_Status)}}
                </div>

            </div>
        </div>
        <div class="form-footer">
            {{ form_end(loan) }}
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script>
        {% for flashMessage in app.session.flashbag.get('success') %}
            Swal.fire({
                icon: 'success',
                title: '{{ flashMessage }}',
                showConfirmButton: true,
                timer: 2000,
                timerProgressBar: true,
                allowOutsideClick: false,
                allowEscapeKey: false
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '{{ path('app_afficherlisteloan') }}';
                }
            });
        {% endfor %}
    </script>
{% endblock %}
