{% extends 'back_office/base_back.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('styleaffiche') }}
    {{ encore_entry_link_tags('styleaddbank') }}
{% endblock %}

{% block body %}
	<section class="section market " aria-label="market update" data-section>
		<div class="container">
			<div class="title-wrapper">
				<h2 class="h2 section-title">Ajouter un banque</h2>

			</div>
		{{ form_start(f, {'attr': {'action': path('app_AddBank'), 'method': 'POST'}}) }}
		<table class="form-table">
			<tr>
				<td>{{ form_label(f.Nom) }}</td>
				<td>
					{{ form_widget(f.Nom, {'attr': {'class': 'form-input'}}) }}
				</td>
				<td>{{ form_errors(f.Nom) }}</td>
			</tr>
			<tr>
				<td>{{ form_label(f.adresse) }}</td>
				<td>
                    {{ form_widget(f.adresse, {'attr': {'class': 'form-input'}}) }}
				</td>
				<td>{{ form_errors(f.adresse) }}</td>
			</tr>
			<tr>
				<td>{{ form_label(f.codeSwift) }}</td>
				<td>
                    {{ form_widget(f.codeSwift, {'attr': {'class': 'form-input'}}) }}
				</td>
				<td>{{ form_errors(f.codeSwift) }}</td>
			</tr>
			<tr>
				<td>{{ form_label(f.logo) }}</td>
				<td>
					{{ form_widget(f.logo, {'attr': {'class': 'form-input'}}) }}
				</td>
				<td>{{ form_errors(f.logo) }}</td>
			</tr>
			<tr>
				<td>{{ form_label(f.phoneNum) }}</td>
				<td>
					{{ form_widget(f.phoneNum, {'attr': {'class': 'form-input'}}) }}
				</td>
				<td>{{ form_errors(f.phoneNum) }}</td>
			</tr>

		</table>

		<button type="submit" class="edit-button">Ajouter</button>
		<!-- Add class to the button -->

		{{ form_end(f) }}
	</div>
{% endblock %}

