{% extends 'back_office/base_back.html.twig' %}

{% block stylesheets %}
    
	{{ encore_entry_link_tags('styles_back') }}
    {{ encore_entry_link_tags('styleaffiche') }}
{% endblock %}

{% block body %}

	<section class="section market " aria-label="market update" data-section>
		<div class="container">
			<div class="title-wrapper">
				<h2 class="h2 section-title">Liste des banques</h2>
				<h2><a href="{{ path('app_afficherlisteloanAdmin')}}">Liste des prêts</a></h2>

				<a href="{{path('app_AddBank')}}"><i class="fas fa-plus add_btn"></i></a>

			</div>
			<div class="market-tab">
				<table class="market-table">
					<thead class="table-head">
						<tr class="table-row table-title">
							<th class="table-heading table-text" scope="col">#</th>
                            <th class="table-heading table-text" scope="col"></th>
							<th class="table-heading table-text" scope="col">Nom</th>
                            <th class="table-heading table-text" scope="col">Logo</th>

							<th class="table-heading table-text" scope="col">Adresse</th>
							<th class="table-heading table-text" scope="col"></th>
							<th class="table-heading table-text" scope="col"></th>
							<th class="table-heading table-text"></th>
						</tr>
					</thead>
					<tbody class="table-body">
						{% for a in Bank %}
							<tr class="table-row">

								<td class="table-data">
									<div class="wrapper">
										<h3>
											<a href="{{ path('get_loans', {'id': a.id}) }}" class="coin-name table-text">{{ a.id }}</a>
										</h3>
									</td>
								</td>
								<td class="table-data last-price table-text"></td>
									<td>{{a.Nom}}</td>
                                <td class="column4"><img src="{{ asset('uploads/bank/'~ a.logo) }}" width="50px"></img></td>
								<td>{{a.adresse}}</td>
								<td class="table-data last-update green table-text">
                                <td class="table-data market-cap table-text"></td>
								<td class="table-text"></td>
								<td class="table-data">
									<button class="btn btn-outline">
										<a href="{{ path('app_editbank', {'id': a.id}) }}">edit</a>
									</button>
								</td>
								<td class="table-data">
									<button class="btn btn-outline">
										<a href="{{ path('app_deletebank', {'id': a.id}) }}">delete</a>
									</button>
								</td>

							{% endfor %}
						</tbody>
					</tbody>
				</table>
			</td>
		</tr>
	</div>
</tbody></div></section></article>{% endblock %}
