{% extends 'back_office/base_back.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('styletableBank') }}
    
		{{ encore_entry_link_tags('styles_back') }}
        {{ encore_entry_link_tags('styleaffiche') }}
{% endblock %}

{% block body %}
    <div class="table-container">
        <h1>List Bank</h1>
        <div class="limiter">
            <div class="container-table100">
                <div class="wrap-table100">
                    <div class="table100">
                        <table>
                            <thead>
                                <tr class="table100-head">
                                    <th class="column1">ID</th>
                                    <th class="column2">Nom</th>
                                    <th class="column3">Adresse</th>
                                    <th class="column6">Logo</th>
                                </tr>
                            </thead>
                            {% for a in Bank %}
                                <tr>
                                    <td class="column1">{{ a.id }}</td>
                                    <td class="column2">{{ a.Nom }}</td>
                                    <td class="column3">{{ a.Adresse }}</td>
                                    <td class="column4"><img src="{{ asset('uploads/bank/'~ a.logo) }}" width="50px"/></td>
                                    <td class="column5" ><a href="{{ path('app_AddLoan', {'id': a.id}) }}">Edit</a></td>
                                    <td class="column6"><a href="{{ path('app_deletebank', {'id': a.id}) }}">Delete</a></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
