{% extends 'back_office/base_back.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('styletableBank') }}
    
		{{ encore_entry_link_tags('styles_back') }}
        {{ encore_entry_link_tags('styleaffiche') }}
{% endblock %}

{% block body %}
    <div class="table-container">
        <h1>List Bank</h1>
        <div class="limiter">
            <div class="container-table100">
                <div class="wrap-table100">
                    <div class="table100">
                        <table>
                            <thead>
                                <tr class="table100-head">
                                    <th class="column1">ID</th>
                                    <th class="column2">Nom</th>
                                    <th class="column3">Adresse</th>
                                    <th class="column6">Logo</th>
                                </tr>
                            </thead>
                            {% for a in Bank %}
                                <tr>
                                    <td class="column1">{{ a.id }}</td>
                                    <td class="column2">{{ a.Nom }}</td>
                                    <td class="column3">{{ a.Adresse }}</td>
                                    <td class="column4"><img src="{{ asset('uploads/bank/'~ a.logo) }}" width="50px"/></td>
                                    <td class="column5" ><a href="{{ path('app_editbank', {'id': a.id}) }}">Edit</a></td>
                                    <td class="column6"><a href="{{ path('app_deletebank', {'id': a.id}) }}">Delete</a></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script>
        {% for flashMessage in app.session.flashbag.get('success') %}
            Swal.fire({
                icon: 'success',
                title: '{{ flashMessage }}',
                showConfirmButton: true,
                timer: 3000,
                timerProgressBar: true,
                allowOutsideClick: false,
                allowEscapeKey: false
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '{{ path('app_afficherlistebank') }}';
                }
            });
        {% endfor %}
    </script>
{% endblock %}

