{% extends 'back_office/base_back.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('styles_back') }}
    {{ encore_entry_link_tags('styletableBank') }}
{% endblock %}





{% block body %}

<div class="table-container">
        <h1>Our loans</h1>
<div class="limiter">
<div class="container-table100">
<div class="wrap-table100">
<div class="table100">
<table border="1">
<thead>
    <tr class="table100-head">
        <th  class="column1">reference pret</th>
        <th  class="column2">Nom banque</th>
        <th  class="column3">Gender</th>
        <th  class="column3">Married</th>
        <th  class="column3">Dependents</th>
        <th  class="column3">Education</th>
        <th  class="column3">Self Employed</th>
        <th  class="column3">Applicant Income</th>
        <th  class="column3">Coapplicant Income</th>
        <th  class="column3">Loan Amount</th>
        <th  class="column3">Loan Amount Term</th>
        <th  class="column3">Credit History</th>
        <th  class="column3">Property Area</th>
        <th  class="column3"> Status</th>

    </tr>
</thead>

    {% for a in pretData %} 
    <tr>  

    <td  class="column3"> {{ a.pretid }}</td>
    <td  class="column3"> {{ a.bankName}}</td>
    <td  class="column3"> {{ a.Gender }}</td>
    <td  class="column3"> {{ a.Married }}</td>
    <td  class="column3"> {{ a.Dependents }}</td>
    <td  class="column3"> {{ a.Education }}</td>
    <td  class="column3"> {{ a.SelfEmployed }}</td>
    <td  class="column3"> {{ a.ApplicantIncome }}</td>
    <td  class="column3"> {{ a.CoapplicantIncome }}</td>
    <td  class="column3"> {{ a.LoanAmount }}</td>
    <td  class="column3"> {{ a.LoanAmountTerm }}</td>
    <td  class="column3"> {{ a.Credit_History }}</td>
    <td  class="column3"> {{ a.Property_Area }}</td>
    <td  class="column3"> {{ a.Loan_Status }}</td>

  
    </tr>


    {% endfor %}
</table>
</div>
</div>
</div>
</div>
</div>
{% endblock %}






