{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-16">
            <h1>Register</h1>
            <form method="post">
                {{ form_start(f) }}
                <div class="row mb-4"> <!-- Utilisation de mb-4 pour une marge inférieure plus grande -->
                    <div class="col">
                        {{ form_row(f.email, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Email'}}) }}
                    </div>
                    <div class="col">
                        {{ form_row(f.roles, {'attr': {'class': 'form-control form-control-lg'}}) }}
                    </div>
                </div>
                <div class="row mb-4"> <!-- Utilisation de mb-4 pour une marge inférieure plus grande -->
                    <div class="col">
                        {{ form_row(f.password, {'attr': {'class': 'form-control form-control-lg password-toggle', 'placeholder': 'Password'}}) }}
                    </div>
                </div>
                <div class="row mb-4"> <!-- Utilisation de mb-4 pour une marge inférieure plus grande -->
                    <div class="col">
                        {{ form_row(f.lastname, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Lastname'}}) }}
                    </div>
                    <div class="col">
                        {{ form_row(f.numtel, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Phone number'}}) }}
                    </div>
                </div>
                <div class="row mb-4"> <!-- Utilisation de mb-4 pour une marge inférieure plus grande -->
                    <div class="col">
                        {{ form_row(f.adresse, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Address'}}) }}
                    </div>
                </div>
                <div class="row mb-4"> <!-- Utilisation de mb-4 pour une marge inférieure plus grande -->
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Update User</button>
                    </div>
                </div>
                {{ form_end(f) }}
            </form>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
$(document).ready(function() {
    $('.password-toggle').each(function() {
        var $input = $(this);
        var $toggle = $('<span class="password-toggle-btn"><i class="fa fa-eye"></i></span>');
        $input.after($toggle);

        $toggle.on('click', function() {
            var type = $input.attr('type') === 'password' ? 'text' : 'password';
            $input.attr('type', type);
            // Changer l'icône en fonction du type de champ
            $(this).find('i').toggleClass('fa-eye fa-eye-slash');
        });
    });
});
</script>
{% endblock %}
